= *Not-Allowed* Licenses

This page lists the licenses that are *not-allowed* for use in Fedora. The
"Usage" field shows any notes related to specific usage for a particular
license. For example, where an otherwise not-allowed license is permitted for
older packages only.

This information is generated from the data maintained in the
https://gitlab.com/fedora/legal/fedora-license-data[Fedora License Data] repository.

[.datatable.dt-search]
[.datatable.dt-search.dt-paging]
|===
| SPDX Expression | Name | URLs | Usage

{% for license in NOTALLOWED_LICENSES -%}
| {{ spdx_url(license) }}
| {%- if 'fedora' in license -%}
        {{ license['fedora']['legacy-name']|join(',') }}
  {%- else -%}
        {nbsp}
  {%- endif %}
| {{ additional_urls(license) }}
| {%- if 'usage' in license -%}
        {{- license['usage']|trim -}}
  {%- else -%}
        &nbsp;
  {%- endif -%}
{%- endfor %}
|===
